################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NetWorkCommunication/.vs/NetWorkCommunication/v16
/NetWorkCommunication/WcfConsoleApp/bin/Debug
/NetWorkCommunication/WcfConsoleApp/obj
/NetWorkCommunication/.vs/NetWorkCommunication/config
/NetWorkCommunication/WcfServiceDemo1/bin
/NetWorkCommunication/WcfServiceDemo1/obj
/NetWorkCommunication/WcfServiceDemo1/Properties
/NetWorkCommunication/WcfMessage/obj/Debug
/NetWorkCommunication/WcfMessage/bin/Debug
/NetWorkCommunication/WcfMessage/obj/Release
/NetWorkCommunication/WcfServiceDemo2/bin
/NetWorkCommunication/WcfServiceDemo2/obj
/NetWorkCommunication/WcfServiceDemo2/Properties/PublishProfiles
/NetWorkCommunication/ChannelConsoleApp/bin/Debug
/NetWorkCommunication/ChannelConsoleApp/obj/Debug
/NetWorkCommunication/FactoryConsoleApp/bin/Debug
/NetWorkCommunication/FactoryConsoleApp/obj/Debug
/NetWorkCommunication/ChannelConsoleApp/obj/Release
/NetWorkCommunication/FactoryConsoleApp/obj/Release
/NetWorkCommunication/WcfServiceDemo3/bin
/NetWorkCommunication/WcfServiceDemo3/obj/Debug
/NetWorkCommunication/WcfConsoleApp/bin/Release
/NetWorkCommunication/WcfServiceDemo3/obj/Release
/NetWorkCommunication/WcfServiceDemo4/bin
/NetWorkCommunication/WcfServiceDemo4/obj
/NetWorkCommunication/WcfServiceDemo4/Properties/PublishProfiles
/NetWorkCommunication/WcfClient/bin/Debug
/NetWorkCommunication/WcfClient/obj/Debug
/NetWorkCommunication/WcfService/bin/Debug
/NetWorkCommunication/WcfService/obj/Debug
/NetWorkCommunication/WcfServiceDemo5/bin
/NetWorkCommunication/WcfServiceDemo5/obj/Debug
/NetWorkCommunication/Zero.Service/obj/Debug
/NetWorkCommunication/Zero.ServiceInterface/obj/Debug
/NetWorkCommunication/Zero.WcfService/obj/Debug
/NetWorkCommunication/Zero.Client/bin/Debug
/NetWorkCommunication/Zero.Client/obj/Debug
/NetWorkCommunication/Zero.Host/bin/Debug
/NetWorkCommunication/Zero.Host/obj/Debug
/NetWorkCommunication/Zero.Service/bin
/NetWorkCommunication/Zero.ServiceInterface/bin/Debug
/NetWorkCommunication/Zero.WcfMessage/bin/Debug
/NetWorkCommunication/Zero.WcfMessage/obj/Debug
