<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="queueNameTransacted" value=".\private$\WcfMsmqExampleTransacted"/>
  </appSettings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
       
  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
  <serviceDebug includeExceptionDetailInFaults="false"/>
  </behavior>
  </serviceBehaviors>
  </behaviors>
  <bindings>
    <netMsmqBinding>
      <binding name="TransactedBinding">
        <security mode="None"></security>
      </binding>
    </netMsmqBinding>
  </bindings>
  <services>
    <service name="MSMQ.Service.AirportService">
      <endpoint address="net.msmq://localhost/private/WcfMsmqExampleTransacted" binding="netMsmqBinding" bindingConfiguration="TransactedBinding" contract="MSMQ.Service.IAirportService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8933/Design_Time_Addresses/AirportService/"/>
        </baseAddresses>
      </host>
    </service>
  </services>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 
</configuration>